<a href="https://colab.research.google.com/github/Ru1chi/DSA/blob/main/binay_search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Data Structures and Algorithms**

In [144]:
  def locate_card(cards,query):
    pass

## **Taking a sample to understand**

In [145]:

cards=[13,11,10,5,4,2,1]
query=5
output=2

In [146]:
result=locate_card(cards,query)
print(result)

None

In [147]:
result==output

False

## **Make the set of test in the form of dictionary**

In [148]:
test={
    'input':{
        'cards': [13,11,10,5,4,2,1],
        'query' : 5
    },
    'output': 3

}

In [149]:
#now call the function
locate_card(test['input']['cards'] , test['input']['query']) == test['output']

False

## **But the number of cases of the cards can be different**

In [150]:

tests=[]

In [151]:
#case1
#query occures in the middle
tests.append(test)

tests.append({
    'input':{
        'cards': [13,11,10,5,4,2,1],
        'query' : 11
    },
    'output': 1

})

In [152]:
()

#case2
#query is the first element

tests.append({
    'input':{
        'cards': [13,11,10,5,4,2,1],
        'query' : 4
    },
    'output': 4

})

In [153]:

#case3
#query is the last element l,.|\


tests.append({
    'input':{
        'cards': [13,11,10,5,4,2,1],
        'query' : 2
    },
    'output': 5

})

In [154]:

#case4
#cards contain just one element


tests.append({
    'input':{
        'cards': [13],
        'query' : 13
    },
    'output': 0

})

In [155]:
#case5
#cards contain no query



tests.append({
    'input':{
        'cards': [13,11,10,5,4,2,1],
        'query' : 15
    },
    'output': -1

})

In [156]:
#case6
#the cards are repeated

tests.append({
    'input':{
        'cards':[8,8,6,6,6,6,3,2,2,20,0,0,0],
        'query':3

    },'output':6

})

In [170]:
#case7
#the selected cards occurs multipe times

tests.append({
    'input':{
        'cards':[6,6,6,6,2,2,2,8,1,0],
        'query':6
    },'output':0
})

In [171]:
tests

[{'input': {'cards': [13, 11, 10, 5, 4, 2, 1], 'query': 5}, 'output': 3},
 {'input': {'cards': [13, 11, 10, 5, 4, 2, 1], 'query': 11}, 'output': 1},
 {'input': {'cards': [13, 11, 10, 5, 4, 2, 1], 'query': 4}, 'output': 4},
 {'input': {'cards': [13, 11, 10, 5, 4, 2, 1], 'query': 2}, 'output': 5},
 {'input': {'cards': [13], 'query': 13}, 'output': 0},
 {'input': {'cards': [13, 11, 10, 5, 4, 2, 1], 'query': 15}, 'output': -1},
 {'input': {'cards': [8, 8, 6, 6, 6, 6, 3, 2, 2, 20, 0, 0, 0], 'query': 3},
  'output': 6},
 {'input': {'cards': [6, 6, 6, 6, 2, 2, 2, 8, 1, 0], 'query': 6}, 'output': 2},
 {'input': {'cards': [6, 6, 6, 6, 2, 2, 2, 8, 1, 0], 'query': 6}, 'output': 3},
 {'input': {'cards': [6, 6, 6, 6, 2, 2, 2, 8, 1, 0], 'query': 6}, 'output': 0}]

## **Implement the solution and test it using example**

In [172]:

def locate_card(cards,query):

  position=0

  while position<len(cards):

    if cards[position] == query:
      return position

    position+=1


  return -1

In [173]:
result = locate_card(test['input']['cards'],test['input']['query'])
result

3

In [174]:

!pip install jovian  --upgrade --quiet

In [175]:


from jovian.pythondsa import evaluate_test_case

In [176]:
evaluate_test_case(locate_card,test)

Input:
{'cards': [13, 11, 10, 5, 4, 2, 1], 'query': 5}

Expected Output:
3


Actual Output:
3

Execution Time:
0.007 ms

Test Result:
PASSED

(3, True, 0.007)

In [177]:
from jovian.pythondsa import evaluate_test_cases

In [178]:
evaluate_test_cases(locate_card,tests)

TEST CASE #0

Input:
{'cards': [13, 11, 10, 5, 4, 2, 1], 'query': 5}

Expected Output:
3


Actual Output:
3

Execution Time:
0.007 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'cards': [13, 11, 10, 5, 4, 2, 1], 'query': 11}

Expected Output:
1


Actual Output:
1

Execution Time:
0.072 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'cards': [13, 11, 10, 5, 4, 2, 1], 'query': 4}

Expected Output:
4


Actual Output:
4

Execution Time:
0.007 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'cards': [13, 11, 10, 5, 4, 2, 1], 'query': 2}

Expected Output:
5


Actual Output:
5

Execution Time:
0.006 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'cards': [13], 'query': 13}

Expected Output:
0


Actual Output:
0

Execution Time:
0.003 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'cards': [13, 11, 10, 5, 4, 2, 1], 'query': 15}

Expected Output:
-1


Actual Output:
-1

Execution Time:
0.004 ms

Test Result:
PASSED


TEST CASE #6

Input:
{'cards': [8, 8, 6, 6, 6, 6, 3, 2, 2, 20, 0, 0, 0], 'query': 3}

Expected Output:
6


Actual Output:
6

Execution Time:
0.004 ms

Test Result:
PASSED


TEST CASE #7

Input:
{'cards': [6, 6, 6, 6, 2, 2, 2, 8, 1, 0], 'query': 6}

Expected Output:
2


Actual Output:
0

Execution Time:
0.004 ms

Test Result:
FAILED


TEST CASE #8

Input:
{'cards': [6, 6, 6, 6, 2, 2, 2, 8, 1, 0], 'query': 6}

Expected Output:
3


Actual Output:
0

Execution Time:
0.003 ms

Test Result:
FAILED


TEST CASE #9

Input:
{'cards': [6, 6, 6, 6, 2, 2, 2, 8, 1, 0], 'query': 6}

Expected Output:
0


Actual Output:
0

Execution Time:
0.003 ms

Test Result:
PASSED


SUMMARY

TOTAL: 10, PASSED: 8, FAILED: 2

[(3, True, 0.007),
 (1, True, 0.072),
 (4, True, 0.007),
 (5, True, 0.006),
 (0, True, 0.003),
 (-1, True, 0.004),
 (6, True, 0.004),
 (0, False, 0.004),
 (0, False, 0.003),
 (0, True, 0.003)]